<!-- <img src="https://img.freepik.com/fotos-premium/hombre-caucasico-joven-que-sostiene-cesta-ropa-aislada-fondo-blanco-que-senala-dedo-al-lado_1368-354353.jpg?size=626&ext=jpg&ga=GA1.2.1163744172.1662419346" alt="" class=""> -->
<!-- <img src="https://img.freepik.com/foto-gratis/manos-sosteniendo-palabra-bienvenida_53876-30956.jpg?w=1380&t=st=1662419527~exp=1662420127~hmac=c00d6aea8d57b9d129d185e402a969bed72d1fa38eaf57ae4b586aa96de20d0b" alt="" class=""> -->
            <section class="contenedor-principal" [@routerTransition]>
            <div class="slider">
              <div class="container-productos ">
                   <div class="descripcion-productos">
                        <h2>Tu mejor <b>opción</b></h2>
                        <h1>Bienvenid@</h1>
                        <p>Has llegado al lugar indicado, contamos con el personal capacitado para que tus prendas queden impecables </p>
                        <button class="btn"> ¡Solicitala aquí! <span class="fas fa-angle-right"></span></button>
                   </div>
                   <div class="imagen-productos">
                    <img src="../../../../../assets/images/hombre-caucacio.png" alt="this image broken, my apologies!! ">
               </div>
              </div>
            </div>  
     </section>