input.ng-invalid.ng-touched{
    border:solid 1px red !important
}

input.ng-valid.ng-touched{
    border: solid   2px green !important;
}


.uil{
    cursor: pointer;
    width: 60vw;
}

i{
    width: 60vw;
height: 50vh;

}

.iconos{
    display: flex;
    width: 800px;
}

button{
    margin-left: 35px;

}

i {

    font-size: 30px;
    line-height: 50px;
}

.blue-snackbar {
    background: #2196F3;
  }
ng-deep .warning{
    background: white;
 }

 @media screen and (max-width: 741px) {
    .s{
        margin-left: 5%;

        /* margin: 10px 3px 30px 5px; */
        /* margin: 10px 10% 100% 10%; */
        /* margin-left: 20%; */
        /* margin-right: -90%; */
    }
}

@media screen and (max-width: 441px) {
    .s{
        /* margin: 10px 3px 30px 5px; */
        /* margin: 10px 3px 100% 5px; */
        margin-left: 20%;
        /* margin-right: -90%; */
    }
}